.career {
    max-width: 80vw;
    margin:0 auto;
    @include grid(1fr 1fr,10px);
    @include breakpoints(mobile) {
        @include grid(1fr);
    }
    font-family: 'Noto Sans JP',sans-serif !important;

    > div > *:not(*:first-child) {
        margin-top: 5px;
    }
    &__left, &__right {
        padding: 5px 10px 5px 10px;
    }
    &__left {
        background-color:rgba(220, 20, 60, 0.05);
        
        &__title {
            font-weight: bold;
            color: crimson;
        }
        // @include flex(start,start,)

        &__paragraph1 {
            // font-family: 'Noto Sans JP',sans-serif !important;
            font-weight: bold;
            @include japaneseBracket;
        }

        &__paragraph2 {
            font-style: italic;
            font-size: 0.85em;
        }

        &__list {
            list-style-position: inside;
            list-style-type: decimal;
            // font-family: 'Noto Sans JP',sans-serif !important;
            li {
                font-size: 1.25em;
                font-weight: bold;
            }
        }

    }

    &__right {
        @include breakpoints(mobile) {
            button {
                width: 100%;
            }
        }

        @include flex(start,start,column);
        &__title {
            font-weight: bold;
            color: crimson;
        }
    }
}