.our-team {
    margin:0 auto;
    margin-top: 25px;
    max-width: $content-max-width;
    height: auto;
    &__members-wrapper {
        @include grid(1fr 1fr 1fr,10px);
        @include breakpoints(mobile) {
            @include grid(1fr,10px);
            grid-gap: 10px;
        }
        &__member {
            background-color:rgba(220, 20, 60, 0.05);
            transition:0.25s;
            &:hover {
                background-color:rgba(220, 20, 60, 0.1);
                img {
                    transform: scale(0.8);
                }
            }
            padding:25px;
            @include flex(center,center,column);
            &__picture {
                background-color: crimson;
                width: 15vw;
                height: 15vw;
                overflow: hidden;
                @include flex(center,center,column);
                border-radius: 50%;
                img {
                    transition: 0.25s;
                }
            }
    
            &__info {
                text-align: center;
                padding-top: 25px;
                &__name {
                    font-size: 20pt;
                    font-weight: bold;
                }
                &__position {
                    font-size: 16pt;
                    color: crimson;
                    font-weight: bold;
                    @include japaneseBracket(crimson);
                }
                &__quote {
                    text-align: justify;
                    font-style: italic;
                    &::before {
                        content:'"';
                    }
                    &::after {
                        content:'"';
                    }
                }
                &__work-ex {
                    font-weight: bold;
                    font-size: 1.25em;
                }
            }
        }
    }

    &__extra-info {
        @include grid(1fr 1fr 1fr 1fr);
        @include breakpoints(mobile) {
            @include grid(1fr 1fr);
        }
        grid-gap: 10px !important;
        margin-top: 10px;

        &__stats {
            height: 100px;
            background-color:rgba(220, 20, 60, 0.05);
            transition:0.25s;
            &:hover {
                background-color:rgba(220, 20, 60, 0.1);
            }
            @include flex(center,center,column);

            p:first-child {
                font-size: 2.5em;
            }
        }
    }

    .sub-content-title {
        margin-top:10px;
    }
}