.services {
    margin:0 auto;
    margin-top: 25px;
    max-width: 80vw;
    &__service-show {
        @include grid(1fr 1fr, 10px);
        @include breakpoints(mobile) {
            @include grid(1fr);
        }

        > div {
            padding:25px;
            height: 400px;
        }
        
        &__left {
            // border:2px solid crimson;

            // background-color: #2c2c2c79;
            background-color:rgba(220, 20, 60, 0.05);

            @include flex();
            // flex-grow:1;
            
            &__picture {
                @include flex();
                img {
                    transition: 0.25s;
                    width: 90%;
                }
                &:hover img {
                    // border:1px solid white;
                    transform: scale(1.05,1.05);
                }
            }
        }

        @include breakpoints(tablet,pc) {
            .swap {
                order:2;
            }
        }
        
        &__right {
            // flex-grow:1 !important;
            @include flex(center,start,row);
            &__title, &__subheading {
                writing-mode:vertical-lr;
                margin-bottom: 5px;
            }

            &__title {
                &::before {
                    content:'「 ';
                    color:crimson;  
                }
                &::after {
                    content:' 」';
                    color:crimson;  

                }
                margin-right: 10px;
            }
            &__subheading {
                color:crimson;  
                font-size: 1.25em;
                font-weight: bold;
            }
            &__description {
                writing-mode: vertical-rl;

                // font-style: italic;
                // text-align: justify;
            }
        }
    }
}