.sub-content-title {
    &--right {
        h1 {
            text-align: right;
        }
    }
    margin:0 auto;
    margin-top: 50px;
    margin-bottom: 25px;
    // margin-bottom: 100px;
    max-width: $content-max-width;
    &__big-title {
        color:crimson;
        text-align: center;
        font-size: 4em;
        // font-size: 4vw;
        // &::before {
            // content: '-';
            // }
        }
        
    &__the-title {
        // border-bottom: 2px solid crimson;
        &::before {
            content: '◈';
            font-size: 1.25em;
            margin-right: 5px;
        }
        // border-left: 10px solid crimson;
        color:crimson;
        // border-bottom: 1px solid crimson;
        margin-bottom: 2.5px;
    }
    &__the-subheading {

    }
}