$breakpoints: (
    mobile: (min:320px, max:480px),
    tablet: (min:481px, max:1024px),
    pc:     (min:1025px, max:100000000000px),
);

// Responsive breakpoints 
@mixin breakpoints($devices...) {
    @each $device in $devices {
        @media (min-width:map-get(map-get($breakpoints, $device),min)) and (max-width:map-get(map-get($breakpoints, $device),max)) {
            @content;
        }
    } 
}


// Flex.
@mixin flex($justfy-content: center,$align-items: center,$flex-direction: row) {
    display: flex;
    justify-content: $justfy-content;
    align-items: $align-items;
    flex-direction: $flex-direction;
}

// Grid.

@mixin grid($grid-template-columns: auto,$column-gap: 0,$row-gap: 0) {
    display:grid;
    grid-template-columns: $grid-template-columns;
    column-gap: $column-gap;
    row-gap: $row-gap;
}

@mixin japaneseBracket($color: white) {
    &::before {
        content:'「';
        color:$color;  
    }
    &::after {
        content:'」';
        color:$color;  
    }
}