// Variables
@import 'variables';
// Mixins
@import 'mixins';
// Animations
@import 'animations';

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');


// Header
@import './layouts/header/header.scss';
@import './layouts/content/content.scss';


// Global elements
* {
    padding:0;
    margin:0;
}

p, h1 {
    margin:0;
    padding:0;
}

a {
    text-decoration: none;
    color: white;
}

// Title
.main-title {
    color: white;
    animation: fadeIn 1s;
    animation-delay: 0.15s;
    span {
        color:crimson;
    }
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #212121;
    height: 1500px;
}

// Layers

.header {
    z-index: 100;
}