@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.form-control {
  width: 100%;
  height: auto;
  position: relative;
  margin-bottom: 10px;
  border: 2px solid crimson;
  border-radius: 0.25em;
}

.form-control__label, .form-control__input {
  text-indent: 5px;
}

.form-control__label {
  position: absolute;
  top: 5px;
  font-size: 20pt;
  z-index: 2;
  transition: 0.25s;
}

.form-control__label--has-value {
  font-weight: bold;
  top: 2px;
  font-size: 8pt !important;
}

.form-control__input {
  padding-top: 20px;
  height: 30px;
  width: 100%;
  border: 0;
  outline: 0;
  background: none;
  font-size: 16pt;
  color: white;
  z-index: 1;
}

.form-control .textarea {
  height: 93px;
  resize: none;
}

.form-control .textarea::-webkit-scrollbar {
  width: 10px;
}

.form-control .textarea::-webkit-scrollbar-track {
  background: none;
}

.form-control .textarea::-webkit-scrollbar-thumb {
  border-radius: 0.05em;
  background: crimson;
}

.form-control .textarea::-webkit-scrollbar-thumb:hover {
  background: #555;
  cursor: grab;
}

.button {
  background: crimson;
  border: 0;
  padding: 5px 10px 5px 10px;
  color: white;
  border-radius: 0.25em;
  font-weight: bold;
  font-size: 1.25em;
}

.button--left {
  float: left;
}

.button--right {
  float: right;
}

.button--fluid {
  width: 100%;
}

.form {
  width: 100%;
}

.header {
  width: 100%;
  height: 45px;
  padding: 0 5px 0 5px;
  box-sizing: border-box;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background: #212121;
}

.header .main-title {
  font-size: 1.5em;
}

.header.breakline {
  border-bottom: 1px #303030 solid;
}

.header .navbar {
  font-family: 'Noto Sans JP', sans-serif !important;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

@media (min-width: 320px) and (max-width: 480px) {
  .header .navbar {
    width: 35px;
    height: 35px;
    cursor: pointer;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  .header .navbar {
    width: 35px;
    height: 35px;
    cursor: pointer;
  }
}

.header .navbar__icon {
  display: none;
  color: white;
  font-size: 1.25em;
}

@media (min-width: 320px) and (max-width: 480px) {
  .header .navbar__icon {
    display: block;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  .header .navbar__icon {
    display: block;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .header .navbar__list {
    position: absolute;
    right: 5px;
    top: 40px;
    display: none;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  .header .navbar__list {
    position: absolute;
    right: 5px;
    top: 40px;
    display: none;
  }
}

.header .navbar__list--hide {
  display: block;
}

.header .navbar__list--hide > li {
  animation: fadeOut 0.5s forwards;
}

.header .navbar__list--show {
  display: block;
}

.header .navbar__list--show > li {
  animation: fadeIn 0.5s forwards;
  opacity: 0;
}

.header .navbar__list.hidden {
  display: none;
}

.header .navbar__list__item {
  cursor: pointer;
  list-style-type: none;
  text-align: right;
}

@media (min-width: 1025px) and (max-width: 100000000000px) {
  .header .navbar__list__item {
    display: inline;
    margin-right: 20px;
  }
}

.header .navbar__list__item__link {
  border-right: 0px solid crimson;
  font-size: 1.5em;
  transition: 0.25s;
}

.header .navbar__list__item__link:hover {
  padding-right: 5px;
  border-right: 10px solid crimson;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(107, 107, 107, 0.5) 100%);
}

.header .navbar__list__item:nth-child(1) {
  animation-delay: 0.1s;
}

.header .navbar__list__item:nth-child(2) {
  animation-delay: 0.2s;
}

.header .navbar__list__item:nth-child(3) {
  animation-delay: 0.3s;
}

.header .navbar__list__item:nth-child(4) {
  animation-delay: 0.4s;
}

.header .navbar__list__item:nth-child(5) {
  animation-delay: 0.5s;
}

.content {
  color: white;
}

.content .heading {
  padding-top: 40px;
  width: 100%;
  height: 600px;
  position: relative;
}

.content .heading .slider__slide-show {
  height: 600px;
}

.content .heading .slider__controls {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  column-gap: 10px;
}

.content .heading .slider__controls__switch {
  background: white;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
}

.content .heading .slider__controls__switch:first-child {
  background: crimson !important;
}

.content .breakline {
  max-width: 80vw;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 30px;
  position: relative;
}

.content .breakline .line {
  outline: 2px solid crimson;
}

.content .breakline .symbol {
  position: absolute;
  font-size: 30pt;
  left: 50%;
  top: -27.5px;
  color: crimson;
  background: #212121;
  transform: translate(-50%, 0%);
}

.content .services {
  margin: 0 auto;
  max-width: 80vw;
}

.content .services__service-show {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  row-gap: 0;
}

@media (min-width: 320px) and (max-width: 480px) {
  .content .services__service-show {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 0;
    row-gap: 0;
  }
}

.content .services__service-show > div {
  padding: 25px;
  height: 400px;
}

.content .services__service-show__left {
  background-color: rgba(220, 20, 60, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.content .services__service-show__left__picture {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.content .services__service-show__left__picture img {
  transition: 0.25s;
  width: 90%;
}

.content .services__service-show__left__picture:hover img {
  transform: scale(1.05, 1.05);
}

@media (min-width: 481px) and (max-width: 1024px) {
  .content .services__service-show .swap {
    order: 2;
  }
}

@media (min-width: 1025px) and (max-width: 100000000000px) {
  .content .services__service-show .swap {
    order: 2;
  }
}

.content .services__service-show__right {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: row;
}

.content .services__service-show__right__title, .content .services__service-show__right__subheading {
  writing-mode: vertical-lr;
  margin-bottom: 5px;
}

.content .services__service-show__right__title {
  margin-right: 10px;
}

.content .services__service-show__right__title::before {
  content: '「';
  color: crimson;
}

.content .services__service-show__right__title::after {
  content: '」';
  color: crimson;
}

.content .services__service-show__right__subheading {
  color: crimson;
  font-size: 1.25em;
  font-weight: bold;
}

.content .services__service-show__right__description {
  writing-mode: vertical-rl;
}

.content .sub-content-title {
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 25px;
  max-width: 80vw;
}

.content .sub-content-title--right h1 {
  text-align: right;
}

.content .sub-content-title__big-title {
  color: crimson;
  text-align: center;
  font-size: 4em;
}

.content .sub-content-title__the-title {
  color: crimson;
  margin-bottom: 2.5px;
}

.content .sub-content-title__the-title::before {
  content: '◈';
  font-size: 1.25em;
  margin-right: 5px;
}

.content .our-team {
  margin: 0 auto;
  margin-top: 25px;
  max-width: 80vw;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 0;
}

@media (min-width: 320px) and (max-width: 480px) {
  .content .our-team {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 10px;
    row-gap: 0;
    grid-gap: 10px;
  }
}

.content .our-team__member {
  background-color: rgba(220, 20, 60, 0.05);
  transition: 0.25s;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content .our-team__member:hover {
  background-color: rgba(220, 20, 60, 0.1);
}

.content .our-team__member:hover img {
  transform: scale(0.8);
}

.content .our-team__member__picture {
  background-color: crimson;
  width: 15vw;
  height: 15vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 50%;
}

.content .our-team__member__picture img {
  transition: 0.25s;
}

.content .our-team__member__info {
  text-align: center;
  padding-top: 25px;
}

.content .our-team__member__info__name {
  font-size: 20pt;
  font-weight: bold;
}

.content .our-team__member__info__position {
  font-size: 16pt;
  color: crimson;
  font-weight: bold;
}

.content .our-team__member__info__position::before {
  content: '「';
  color: crimson;
}

.content .our-team__member__info__position::after {
  content: '」';
  color: crimson;
}

.content .our-team__member__info__quote {
  text-align: justify;
  font-style: italic;
}

.content .our-team__member__info__quote::before {
  content: '"';
}

.content .our-team__member__info__quote::after {
  content: '"';
}

.content .our-team__member__info__work-ex {
  font-weight: bold;
  font-size: 1.25em;
}

.content .career {
  max-width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  row-gap: 0;
  font-family: 'Noto Sans JP',sans-serif !important;
}

@media (min-width: 320px) and (max-width: 480px) {
  .content .career {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 0;
    row-gap: 0;
  }
}

.content .career > div > *:not(*:first-child) {
  margin-top: 5px;
}

.content .career__left, .content .career__right {
  padding: 5px 10px 5px 10px;
}

.content .career__left {
  background-color: rgba(220, 20, 60, 0.05);
}

.content .career__left__title {
  font-weight: bold;
  color: crimson;
}

.content .career__left__paragraph1 {
  font-weight: bold;
}

.content .career__left__paragraph1::before {
  content: '「';
  color: white;
}

.content .career__left__paragraph1::after {
  content: '」';
  color: white;
}

.content .career__left__paragraph2 {
  font-style: italic;
  font-size: 0.85em;
}

.content .career__left__list {
  list-style-position: inside;
  list-style-type: decimal;
}

.content .career__left__list li {
  font-size: 1.25em;
  font-weight: bold;
}

.content .career__right {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
}

@media (min-width: 320px) and (max-width: 480px) {
  .content .career__right button {
    width: 100%;
  }
}

.content .career__right__title {
  font-weight: bold;
  color: crimson;
}

.content .contact {
  margin: 0 auto;
  max-width: 80vw;
}

.content .contact__form-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  row-gap: 0;
}

@media (min-width: 320px) and (max-width: 480px) {
  .content .contact__form-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 0;
    row-gap: 0;
  }
}

.content .contact button {
  width: 100%;
}

* {
  padding: 0;
  margin: 0;
}

p, h1 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

.main-title {
  color: white;
  animation: fadeIn 1s;
  animation-delay: 0.15s;
}

.main-title span {
  color: crimson;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #212121;
  height: 1500px;
}

.header {
  z-index: 100;
}
