@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.header {
  width: 100%;
  height: 45px;
  padding: 0 5px 0 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.header .navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

@media (min-width: 320px) and (max-width: 480px) {
  .header .navbar {
    width: 35px;
    height: 35px;
    cursor: pointer;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  .header .navbar {
    width: 35px;
    height: 35px;
    cursor: pointer;
  }
}

.header .navbar__icon {
  display: none;
  color: white;
  font-size: 1.25em;
}

@media (min-width: 320px) and (max-width: 480px) {
  .header .navbar__icon {
    display: block;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  .header .navbar__icon {
    display: block;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .header .navbar__list {
    position: absolute;
    right: 5px;
    top: 40px;
    display: none;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  .header .navbar__list {
    position: absolute;
    right: 5px;
    top: 40px;
    display: none;
  }
}

.header .navbar__list--hide {
  display: block;
}

.header .navbar__list--hide > li {
  animation: fadeOut 0.5s forwards;
}

.header .navbar__list--show {
  display: block;
}

.header .navbar__list--show > li {
  animation: fadeIn 0.5s forwards;
  opacity: 0;
}

.header .navbar__list.hidden {
  display: none;
}

.header .navbar__list__item {
  list-style-type: none;
  text-align: right;
}

@media (min-width: 1025px) and (max-width: 100000000000px) {
  .header .navbar__list__item {
    display: inline;
  }
}

.header .navbar__list__item__link {
  border-right: 0px solid crimson;
  font-size: 1.75em;
  transition: 0.25s;
}

.header .navbar__list__item__link:hover {
  padding-right: 5px;
  border-right: 10px solid crimson;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(107, 107, 107, 0.5) 100%);
}

.header .navbar__list__item:nth-child(1) {
  animation-delay: 0.1s;
}

.header .navbar__list__item:nth-child(2) {
  animation-delay: 0.2s;
}

.header .navbar__list__item:nth-child(3) {
  animation-delay: 0.3s;
}

.header .navbar__list__item:nth-child(4) {
  animation-delay: 0.4s;
}

.header .navbar__list__item:nth-child(5) {
  animation-delay: 0.5s;
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

.main-title {
  color: white;
  animation: fadeIn 1s;
  animation-delay: 0.15s;
}

.main-title span {
  color: crimson;
}

body {
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(./../../assets/img/pic_1);
  background-size: cover;
  background-blend-mode: saturation;
}
