@charset "UTF-8";@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");@keyframes fadeIn{0%{opacity:0}
100%{opacity:1}
}@keyframes fadeOut{0%{opacity:1}
100%{opacity:0}
}.header{width:100%;height:45px;padding:0 5px 0 5px;box-sizing:border-box;position:fixed;display:flex;justify-content:space-between;align-items:center;flex-direction:row;background:#212121}
.header.breakline{border-bottom:1px #303030 solid}
.header .navbar{font-family:'Noto Sans JP',sans-serif !important;font-weight:bold;display:flex;justify-content:center;align-items:center;flex-direction:row}
@media(min-width:320px) and (max-width:480px){.header .navbar{width:35px;height:35px;cursor:pointer}
}@media(min-width:481px) and (max-width:1024px){.header .navbar{width:35px;height:35px;cursor:pointer}
}.header .navbar__icon{display:none;color:white;font-size:1.25em}
@media(min-width:320px) and (max-width:480px){.header .navbar__icon{display:block}
}@media(min-width:481px) and (max-width:1024px){.header .navbar__icon{display:block}
}@media(min-width:320px) and (max-width:480px){.header .navbar__list{position:absolute;right:5px;top:40px;display:none}
}@media(min-width:481px) and (max-width:1024px){.header .navbar__list{position:absolute;right:5px;top:40px;display:none}
}.header .navbar__list--hide{display:block}
.header .navbar__list--hide>li{animation:fadeOut .5s forwards}
.header .navbar__list--show{display:block}
.header .navbar__list--show>li{animation:fadeIn .5s forwards;opacity:0}
.header .navbar__list.hidden{display:none}
.header .navbar__list__item{cursor:pointer;list-style-type:none;text-align:right}
@media(min-width:1025px) and (max-width:100000000000px){.header .navbar__list__item{display:inline;margin-right:20px}
}.header .navbar__list__item__link{border-right:0 solid crimson;font-size:1.5em;transition:.25s}
.header .navbar__list__item__link:hover{padding-right:5px;border-right:10px solid crimson;background:linear-gradient(90deg,rgba(0,0,0,0) 0,rgba(107,107,107,0.5) 100%)}
.header .navbar__list__item:nth-child(1){animation-delay:.1s}
.header .navbar__list__item:nth-child(2){animation-delay:.2s}
.header .navbar__list__item:nth-child(3){animation-delay:.3s}
.header .navbar__list__item:nth-child(4){animation-delay:.4s}
.header .navbar__list__item:nth-child(5){animation-delay:.5s}
.content{color:white}
.content .heading{padding-top:40px;width:100%;height:600px;position:relative}
.content .heading .slider__slide-show{height:600px}
.content .heading .slider__controls{display:flex;justify-content:center;align-items:center;flex-direction:row;column-gap:10px}
.content .heading .slider__controls__switch{background:white;width:15px;height:15px;border-radius:50%;cursor:pointer}
.content .heading .slider__controls__switch:first-child{background:crimson !important}
.content .services{margin:0 auto;margin-top:25px;max-width:80vw}
.content .services__service-show{display:grid;grid-template-columns:1fr 1fr;column-gap:10px;row-gap:0}
.content .services__service-show>div{padding:25px;height:400px}
.content .services__service-show__left{display:flex;justify-content:center;align-items:center;flex-direction:row}
.content .services__service-show__left__picture img{width:90%}
.content .services__service-show .swap{order:2}
.content .services__service-show__right{display:flex;justify-content:center;align-items:start;flex-direction:row}
.content .services__service-show__right__title,.content .services__service-show__right__subheading{writing-mode:vertical-lr;margin-bottom:5px}
.content .services__service-show__right__title{margin-right:10px}
.content .services__service-show__right__title::before{content:'「 ';color:crimson}
.content .services__service-show__right__title::after{content:' 」';color:crimson}
.content .services__service-show__right__subheading{color:crimson;font-size:1.25em;font-weight:bold}
.content .services__service-show__right__description{writing-mode:vertical-rl}
.content .sub-content-title{margin:0 auto;margin-top:25px;max-width:80vw}
.content .sub-content-title--right h1{text-align:right}
.content .sub-content-title__big-title{color:crimson;text-align:center;font-size:4em}
.content .sub-content-title__the-title{color:crimson;margin-bottom:2.5px}
.content .sub-content-title__the-title::before{content:'◈';margin-right:5px}
*{padding:0;margin:0}
p,h1{margin:0;padding:0}
a{text-decoration:none;color:white}
.main-title{color:white;animation:fadeIn 1s;animation-delay:.15s}
.main-title span{color:crimson}
body{font-family:'Roboto',sans-serif;background-color:#212121;height:1500px}
.header{z-index:100}